.container {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  text-decoration: none;
  border-radius: 7px;
  color: white;
  gap: 2.4rem;
  &:hover {
    background-color: var(--color-gray-600);
  }
}

.container img {
  width: 14rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.container h2 {
  font-size: 1.8rem;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
}
