.keywords {
  width: 50%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2.4rem;
  list-style: none;
}

.keyword {
  font-size: 1.4rem;
  padding: 0.8rem 1rem;
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--color-gray-800);

  &:hover {
    background-color: var(--color-gray-700);
  }
}
