.container {
  display: flex;
  gap: 0.4rem;
  font-weight: 500;
}

.container--small {
  font-size: 1.4rem;
  align-items: center;
}

.container--medium {
  font-size: 2rem;
  align-items: flex-start;
}

.container span {
  color: var(--color-primary-900);
}
