.swiper__slide {
  width: 55%;
  background-color: var(--color-background--card);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 35rem;

  &:hover {
    box-shadow: var(--hover-border);
  }
}

.carousel-item {
  height: 100%;
  display: flex;
  padding: 2.4rem;
  gap: 2.4rem;
}

.carousel-item-poster {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.carousel-item-title {
  font-size: 2.8rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.carousel-item-genres {
  font-size: 1.4rem;
  color: var(--color-gray-100);
  margin-bottom: 1.4rem;
}

.carousel-item-meta {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.carousel-item-release {
  font-size: 1.6rem;
}

.carousel-item-description {
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--color-gray-200);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  line-clamp: 7;
  -webkit-box-orient: vertical;
}
