.genres__list {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  list-style: none;
}

.genres__item {
  font-size: 1.4rem;
  padding: 0.6rem 1.2rem;
  border-radius: 1000px;
  background-color: #444;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}
