.container {
  display: flex;
  color: white;
  gap: 1.4rem;
  width: max-content;
  align-items: center;
  transition: all 0.1s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
}

.actor-link {
  text-decoration: none;
}

.container img {
  width: 12rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1000px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.container h2 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

.container p {
  font-size: 1.4rem;
  line-height: 1.2;
  color: var(--color-gray-300);
  font-weight: 500;
}
