.cast {
  display: flex;
  gap: 3.2rem;
  padding: 2.4rem 0 0 0;
  scroll-behavior: smooth;
  list-style: none;
  overflow: hidden;
}

.cast__item {
  display: flex;
  color: white;
  gap: 1.4rem;
  width: max-content;
  align-items: center;
  transition: all 0.1s ease-in-out;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
}

.cast__item--profile {
  width: 14rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1000px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.cast__item--name {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

.cast__item--character {
  font-size: 1.4rem;
  line-height: 1.2;
  color: var(--color-gray-300);
  font-weight: 500;
}
