.cast__item {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 2rem;
  width: max-content;
  align-items: center;
  transition: all 0.1s ease-in-out;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
}

.cast__item--profile {
  width: 14rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1000px;
  box-shadow: var(--card--box-shadow);
}

.cast__item--name {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

.cast__item--character {
  font-size: 1.4rem;
  line-height: 1.2;
  color: var(--color-gray-300);
  font-weight: 500;
}
