.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.tag {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 1000px;
  border: 2px solid white;
  color: var(--color-gray-200);
  box-shadow: var(--card--box-shadow);
  transition: background-color 0.2s ease, transform 0.2s ease;

  &:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
  }
}

.tagSelected {
  padding: 0.6rem 2rem 0.6rem 1.2rem;
  background-color: white;
  color: black;
}

.tagCheck {
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .tags {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
  }

  .tag {
    flex-shrink: 0;
  }
}
