.container {
  max-width: var(--page-width--max);
  margin: var(--page-width--margin);
  padding: 9.6rem var(--page-padding--horizontal) var(--page-padding--bottom)
    var(--page-padding--horizontal);
}

.container__header {
  width: fit-content;
  display: flex;
  margin-bottom: 3.2rem;
  gap: 2.4rem;
  align-items: center;
  cursor: pointer;
  border-radius: 7px;
}

.container__header:hover .container__header--title {
  color: var(--color-primary-900);
}

.container__header--poster {
  width: 12rem;
  aspect-ratio: 0.7;
  border-radius: 10px;
}

.container__header--title {
  font-size: 3.2rem !important;
  font-weight: 600;
  margin-bottom: 2.4rem !important;
  transition: all 0.2s ease-in-out;
}

.container__header--back {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-gray-300);
  display: flex;
  gap: 0.6rem;
}
