.container {
  display: flex;

  position: relative;
  height: 60vh;
  background-color: var(--color-background--root);
}

.backdrop__img {
  object-fit: cover;
  width: 100%;
  height: 90%;
  mask-image: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 1) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 1) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}

.bottom__container {
  display: flex;
  gap: 2.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: var(--page-width--max);
  margin: var(--page-width--margin);
  padding: 3.2rem 3.2rem 0 3.2rem;
}

.poster__img {
  width: 20rem;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: var(--card--box-shadow);
}

.text__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.genres {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.title {
  font-size: 4.4rem;
  margin-bottom: 1.2rem;
  line-height: 1.1;
  font-weight: 600;
}

.rating__container {
  display: flex;
  gap: 4.2rem;
  margin-bottom: 2.4rem;
  align-items: center;
}

.date-runtime {
  font-size: 1.8rem;
  font-weight: 600;
}

.overview {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  line-height: 1.4;
  align-items: center;
  text-align: justify;
}
