.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 1.6rem;
  gap: 1.2rem;
  overflow: hidden;
  z-index: 1;
}

.image__container {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.image__container:nth-child(1),
.image__container:nth-child(8) {
  grid-column: span 2;
  grid-row: span 2;
}
.image__container:nth-child(2),
.image__container:nth-child(3),
.image__container:nth-child(4),
.image__container:nth-child(5),
.image__container:nth-child(6),
.image__container:nth-child(7),
.image__container:nth-child(9),
.image__container:nth-child(10) {
  grid-column: span 1;
  grid-row: span 1;
}

.backdrop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}
