@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Permanent+Marker&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --color-background: var(--color-background--root);

  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-500: #434343;
  --color-gray-600: #2c2c2c;

  --color-error--border: #404040;
  --color-background--border: #1e1e1e;
  --color-background--card: #191919;
  --color-background--root: #141414;

  --color-primary-600: #f9c762;
  --color-primary-700: #fbc14d;
  --color-primary-900: #f97316;

  --color-rating-red: #ef4444;
  --color-rating-red--alpha: rgba(239, 68, 68, 0.3);
  --color-rating-amber: #fbbf24;
  --color-rating-amber--alpha: rgba(251, 190, 36, 0.3);
  --color-rating-green: #4ade80;
  --color-rating-green--alpha: rgba(74, 222, 128, 0.3);

  --section--title-size: 2.2rem;

  --card--box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  --hover-border: 0 0 0 2px white;

  --page-width--max: 140rem;
  --page-width--margin: 0 auto;

  --horizontal-list--padding: 0.2rem;

  /* Text Sizes */
  --horizontal-list--header: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', sans-serif;

  background-color: var(--color-background);
  color: white;

  line-height: 1;
  font-weight: 400;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 1.2rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-600);
  border-radius: 10px;
  cursor: pointer;
}

.page-container {
  max-width: var(--page-width--max);
  margin: 0 auto;
  padding: 12.8rem 3.2rem 0 3.2rem;
}

.flex--wrap-container {
  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;
  margin-bottom: 3.2rem;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-header--right {
  display: flex;
  gap: 2.4rem;
}

.list__header--icon {
  font-size: 3.5rem;
}

.horizontal-list__container {
  display: flex;
  gap: 3.2rem;
  padding: 2.4rem var(--horizontal-list--padding) 1.2rem
    var(--horizontal-list--padding);
  scroll-behavior: smooth;
  list-style: none;
  overflow: hidden;
}

.btn-arrow {
  background: none;
  border: none;
  aspect-ratio: 1;
  height: 100%;
  font-size: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--color-gray-600);
  cursor: pointer;
  border-radius: 7px;
}

.btn-arrow--disabled {
  opacity: 0.4;
  pointer-events: none;
}

/********************** Links **********************/
.link__wrapper:link,
.link__wrapper:visited {
  text-decoration: none;
  color: white;
}

.link--gradient:link,
.link--gradient:visited {
  display: flex;
  width: fit-content;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  background-size: 200% auto;
  transition: all 0.5s ease-in-out;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  color: white;
}

.link--gradient:hover,
.link--gradient:active {
  background-position: right center;
}

.link--search:link,
.link--search:visited {
  gap: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1rem 2.6rem 1rem 1.6rem;
}

.link--discover:link,
.link--discover:visited {
  gap: 1rem;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.4rem 2.8rem;
}

.view--all:link,
.view--all:visited {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  aspect-ratio: 5/2;
  font-size: 1.6rem;
  font-weight: 500;
  height: 100%;
  color: white;
  background-color: var(--color-gray-600);
  cursor: pointer;
  border-radius: 7px;

  &:hover {
    background-color: var(--color-gray-500);
  }
}

/********************** Typography **********************/
.section__title {
  font-size: var(--section--title-size);
  font-weight: 700;
}

.section__title--list {
  margin-left: var(--horizontal-list--padding);
}

.section__link:link,
.section__link:visited {
  width: fit-content;
  font-size: var(--section--title-size);
  font-weight: 700;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.section__link:hover,
.section__link:active {
  opacity: 0.8;
}

/********************** Buttons **********************/
.btn {
  outline: none;
  background: none;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
}

.btn--gradient {
  border: none;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  padding: 1rem 2.2rem 1rem 1.2rem;
  font-size: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 1000px;
  background-size: 200% auto;
  transition: all 0.5s ease-in-out;
}

.btn--gradient:hover {
  background-position: right center;
}

.btn-department {
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid var(--color-primary-900);
}

.btn-department:hover,
.selected {
  background-color: var(--color-primary-900);
}

/********************** Tabs **********************/
.tabs {
  list-style: none;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}

.tabs--btn {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
}

.tab-active,
.tabs--btn:hover {
  color: var(--color-primary-900) !important;
}

.tab-selector {
  height: 1.5px;
  background-color: var(--color-primary-900);
  border-radius: 8px;
}

.list-arrows__container {
  display: flex;
  align-items: center;
  height: 3rem;
  gap: 1.6rem;
}
