.keywords {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1.6rem;
}

.keywords span {
  font-size: 1.4rem;
  padding: 0.8rem 1rem;
  border-radius: 1000px;
  cursor: pointer;
  background-color: var(--color-gray-600);

  &:hover {
    background-color: var(--color-gray-500);
  }
}
