.container__link:link,
.container__link:visited {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 22rem;
}

.container:hover .img-container {
  box-shadow: var(--hover-border);
}

.container:hover .img-container img {
  transform: scale(1.1);
}

.img-container {
  overflow: hidden;
  aspect-ratio: 0.7;
  width: 100%;
  margin-bottom: 1.2rem;
  border-radius: 10px;
  box-shadow: var(--card--box-shadow);
}

.img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.rating-container {
  position: absolute;
  bottom: 0;
  left: 1.2rem;
  transform: translateY(-15%);
}

.container h2 {
  font-size: var(--horizontal-list--header);
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 0.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.container p {
  font-size: 1.4rem;
  line-height: 1.2;
  color: var(--color-gray-300);
  font-weight: 500;
}
