.container {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 2rem;
  width: max-content;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  width: 16rem;
}

.container img {
  width: 100%;
  aspect-ratio: 0.7;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: var(--card--box-shadow);
}

.container h2 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

.container p {
  font-size: 1.4rem;
  line-height: 1.2;
  color: var(--color-gray-300);
  font-weight: 500;
}
