.container {
  width: fit-content;
  gap: 1.2rem !important;
  align-items: center !important;
  font-weight: 500;
  color: white !important;
  display: flex;
}

.container--small {
  font-size: 1.6rem !important;
}

.container--medium {
  font-size: 2rem !important;
}
