.container {
  display: flex;
  gap: 0.4rem !important;
  font-weight: 500;
  color: white !important;
}

.container--small {
  font-size: 1.4rem !important;
  align-items: center !important;
}

.container--medium {
  font-size: 2rem !important;
  align-items: flex-start !important;
}

.star {
  color: var(--color-primary-900);
}
