.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.tag {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  border-radius: 12px;
  background-color: var(--color-background--border);
  box-shadow: var(--card--box-shadow);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.tag:hover {
  background-color: var(--color-gray-500);
  transform: scale(1.05);
}

.tag--selected {
  background-color: var(--color-gray-500);
  padding: 0.8rem 2rem 0.8rem 1.2rem;
}

.tag__check {
  font-size: 2rem;
}
