.container {
  position: relative;
  display: flex;
  margin-top: 7rem;
  justify-content: center;
  gap: 2.4rem;
  height: 70vh;
}

.bottom__container {
  display: flex;
  flex-direction: column;
  max-width: var(--page-width--max);
  margin: var(--page-width--margin);
  padding: 0 var(--page-padding--horizontal);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.backdrop__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.3;

  mask-image: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0) 100%
  );
}

.poster {
  width: 20rem;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: var(--card--box-shadow);
}

.genres {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.title {
  font-size: 4.4rem;
  margin-bottom: 1.2rem;
  line-height: 1.1;
  font-weight: 600;
}

.rating__container {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
  align-items: center;
}

.date-runtime {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-gray-200);
}

.overview {
  width: 50%;
  font-size: 1.6rem;
  line-height: 1.4;
  align-items: center;
  margin-bottom: 3.2rem;
  color: var(--color-gray-200);
}

.actions__container {
  display: flex;
  gap: 2.4rem;
}

.watch {
  border: none;
  width: fit-content;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  background: none;
  color: white;
  padding: 1rem 2rem;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
}

.watch--filled {
  background-color: var(--color-primary-900);
}

.watch--outlined {
  border: 1px solid white;
}

.icon {
  font-size: 2.4rem;
}

.tmdb {
  background-color: var(--color-primary-900);
  padding: 0.4rem 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 4px;
}
