.list-header {
  display: flex;
  justify-content: space-between;
}

.list-header--left {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.list {
  display: flex;
  gap: 2.4rem;
  padding: 2.4rem 1.2rem 2.4rem 0;
  scroll-behavior: smooth;
  overflow: hidden;
  list-style: none;
}
