.details__container {
  display: flex;
  flex-direction: column;
}

.details__title {
  font-size: 1.8rem;
  color: var(--color-gray-300);
  margin-bottom: 1.8rem;
}

.details__text {
  font-size: 1.6rem;
}
