.season__overview {
  margin: 1.2rem 0 2.4rem 0;
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--color-gray-300);
}

.episodes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.item__container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gray-700);
  border-radius: 8px;
  overflow: hidden;
}

.backdrop {
  width: 100%;
  aspect-ratio: 1.8;
  object-fit: cover;
  margin-bottom: 2.4rem;
}

.text__container {
  display: flex;
  flex-direction: column;
  padding: 0 2.4rem 0 2.4rem;
  flex: 1;
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.overview {
  font-size: 1.6rem;
  color: var(--color-gray-400);
  line-height: 1.4;
  margin-bottom: 2.4rem;
  flex: 1;
}

.details__container {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.runtime {
  font-size: 1.4rem;
  display: flex;
  gap: 0.6rem;
  border-radius: 1000px;
  padding: 0.4rem 0.8rem;
  border: 1px solid var(--color-gray-700);
}
