.searchContainer {
  position: relative;
}
.container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 1.2rem 1.2rem 1.2rem 0;
  gap: 1.2rem;
}

.tagsContainer {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  padding-left: 1.2rem;
}

.container input {
  position: relative;
  background: none;
  border: none;
  outline: none;
  color: white;
  padding-left: 1.2rem;
  font-size: 1.5rem;
}

.dropdownContent {
  position: absolute;
  min-width: 100%;
  top: 100%;
  margin-top: 1rem;
  display: flex;
  max-height: 40vh;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  opacity: 0;
  transform: translateY(-5%);
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.contentOpen {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.searchItem {
  padding: 1.2rem;
  font-size: 1.5rem;
  width: 100%;
  cursor: pointer;
}

.searchItem:hover,
.searchItemSelected {
  background-color: var(--color-gray-500);
}
