.container {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
  list-style: none;
}

.item {
  height: 5rem;
}

.title:link,
.title:visited {
  background-color: var(--color-gray-600);
  box-shadow: var(--card--box-shadow);
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  padding: 1.4rem 2rem;
  border-radius: 1000px;
  font-weight: 600;
}

.title:hover,
.title:active {
  background-color: var(--color-gray-500);
}
