.container {
  position: relative;
  margin-top: 7rem;
  gap: 2.4rem;
  overflow: hidden;
  height: 65vh;
  display: flex;
}

.container::after {
  content: '';
  position: absolute;
  background-color: rgb(20, 20, 20);
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.grid {
  max-width: var(--page-width--max);
  margin: var(--page-width--margin);
  padding: 0 var(--page-padding--horizontal);
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 60%;
}

.bottom__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backdrop__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;

  mask-image: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0) 80%
  );
}

.genres {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-gray-200);
  margin-bottom: 0.4rem;
  text-shadow: 1px 1px 2px rgb(20, 20, 20);
}

.title {
  font-size: 4.4rem;
  margin-bottom: 1.2rem;
  line-height: 1.1;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(20, 20, 20);
}

.rating__container {
  display: flex;
  gap: 3.2rem;
  margin-bottom: 2.4rem;
  align-items: center;
  text-shadow: 1px 1px 2px rgb(20, 20, 20);
}

.date-runtime {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-gray-100);
}

.tagline {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  color: var(--color-gray-200);
  font-style: italic;
  text-shadow: 1px 1px 2px rgb(20, 20, 20);
}

.overview {
  font-size: 1.6rem;
  line-height: 1.4;
  align-items: center;
  margin-bottom: 3.2rem;
  color: var(--color-gray-100);
  text-shadow: 1px 1px 2px rgb(20, 20, 20);
}
