.main-container {
  display: flex;
  flex-direction: column;
  max-width: var(--page-width--max);
  margin: var(--page-width--margin);
  padding: 3.2rem var(--page-padding--horizontal) 4.8rem
    var(--page-padding--horizontal);
  gap: 1.2rem;
}

.details__container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 4.8rem;
}

.details__main {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
