.details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3.2rem;
  margin-top: 2.4rem;
}

.details__left--item {
  display: flex;
  flex-direction: column;
}

.details__title {
  font-size: 1.6rem;
  color: var(--color-gray-300);
  margin-bottom: 1.2rem;
}

.details__text {
  font-size: 1.6rem;
}

.external__link:link,
.external__link:visited {
  display: flex;
  gap: 0.8rem;
  font-size: 1.6em;
  color: var(--color-primary-900);
}

.external__link:hover,
.external__link:active {
  text-decoration: underline;
}

.links__container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
