.header {
  display: flex;
  gap: 3.2rem;
}

.biography {
  font-size: 1.6rem;
  line-height: 1.6;
  white-space: pre-line;
  font-weight: 400;
  color: var(--color-gray-200);
}

.profile-img {
  width: 28rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1000px;
  margin-bottom: 3.2rem;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.combined-credits {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
}

.details__container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 4.8rem;
  row-gap: 3.2rem;
}

.details__title {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}

.details__text {
  font-size: 1.6rem;
  color: var(--color-gray-300);
}

@media (max-width: 1100px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details__container {
    display: flex;
    flex-wrap: wrap;
  }

  .profile-img {
    width: 20rem;
    margin-bottom: 0;
  }

  .name {
    font-size: 2.8rem;
  }
}
