@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Permanent+Marker&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --color-gray-950: #0a0a0a;
  --color-gray-900: #171717;
  --color-gray-800: #262626;
  --color-gray-700: #404040;
  --color-gray-600: #525252;
  --color-gray-500: #737373;
  --color-gray-400: #a3a3a3;
  --color-gray-300: #d4d4d4;
  --color-gray-200: #e5e5e5;
  --color-gray-100: #f5f5f5;
  --color-gray-50: #fafafa;

  --color-background--card: #151515;

  --section--title-size: 2.2rem;

  --card--box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  --hover-border: 0 0 0 2px white;

  --page-width--max: 140rem;
  --page-width--margin: 0 auto;
  --page-padding--horizontal: 3.2rem;
  --page-padding--bottom: 3.2rem;

  --horizontal-list--padding: 0.2rem;
  --search-container-height: 4.2rem;

  /* Text Sizes */
  --horizontal-list--header: 1.6rem;

  --header-size: 6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;

  /* @media (max-width: 75em) {
    font-size: 56.25%;
  }

  @media (max-width: 59em) {
    font-size: 50%;
  } */
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

button {
  outline: none;
  background: none;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--color-gray-950);
  color: white;
  line-height: 1;
  font-weight: 500;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: var(--page-width--max);
  margin: 0 auto;
  padding: 9.6rem var(--page-padding--horizontal) 3.2rem
    var(--page-padding--horizontal);

  @media (max-width: 550px) {
    padding: 9.6rem 1.8rem 3.2rem 1.8rem;
  }
}

/********************** Typography **********************/
.section__title {
  font-size: var(--section--title-size);
  font-weight: 700;
}

.credits-list__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

.customSwiper {
  width: 100%;
  height: fit-content;
  padding: 1.6rem var(--horizontal-list--padding) 4.8rem
    var(--horizontal-list--padding);
  display: flex;
  flex-direction: column;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-gray-200);
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.arrows__container {
  display: flex;
  align-items: center;
  height: 3.4rem;
  gap: 1.6rem;
}

.arrowRight,
.arrowLeft {
  background: none;
  border: none;
  aspect-ratio: 1;
  height: 100%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--color-gray-800);
  cursor: pointer;
  border-radius: 1000px;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.linePagination {
  width: 5rem;
  height: 0.3rem;
  border-radius: 1000px;
  color: white;
}

.credits-list__container {
  --cols: 6;
  display: grid;
  gap: 2rem;
  list-style: none;
  grid-template-columns: repeat(var(--cols), 1fr);

  @media (max-width: 1200px) {
    --cols: 5;
  }
  @media (max-width: 920px) {
    --cols: 4;
  }
  @media (max-width: 768px) {
    --cols: 3;
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.grid--4-cols,
.grid--5-cols,
.grid--6-cols,
.grid--7-cols {
  display: grid;
  gap: 2rem;
  list-style: none;
  grid-template-columns: repeat(var(--cols), 1fr);
}

.grid--4-cols {
  --cols: 4;

  @media (max-width: 1200px) {
    --cols: 3;
  }
  @media (max-width: 920px) {
    --cols: 2;
  }
  @media (max-width: 700px) {
    --cols: 1;
  }
}

.grid--5-cols {
  --cols: 5;
}

.grid--6-cols {
  --cols: 6;

  @media (max-width: 1200px) {
    --cols: 5;
  }
  @media (max-width: 920px) {
    --cols: 4;
  }
  @media (max-width: 768px) {
    --cols: 3;
  }
}

.grid--7-cols {
  --cols: 7;
}

.gallery-grid--gap {
  gap: 1.2rem !important;
}

.flex--wrap {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
  list-style: none;
}

.swiper-button-prev,
.swiper-button-next {
  background: none;
  color: #ffffff;
  width: 4.5rem;
  height: 4.5rem;
  background-color: rgba(20, 20, 20, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #333;
    transform: scale(1.15);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  }

  &:active {
    transform: scale(1);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.swiper-button-next::after,
.swiper-button-prev::after {
  background-size: contain;
  width: 5rem;
  height: 5rem;
  opacity: 1;
}

.swiper-button-next::after {
  background: url('./assets/arrow_next.svg') no-repeat center;
}

.swiper-button-prev::after {
  background: url('./assets/arrow_prev.svg') no-repeat center;
}

@media (max-width: 1100px) {
  .swiper-pagination-bullet,
  .arrowLeft,
  .arrowRight,
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

.link__filled:link,
.link__filled:visited {
  border: none;
  width: fit-content;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  background: none;
  font-weight: 600;
  padding: 1.4rem 2.4rem;
  border-radius: 7px;
  cursor: pointer;
  color: var(--color-background--card);
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;

  &:hover,
  &:active {
    transform: scale(1.1);
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.3);
  }
}
