@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-background: var(--color-backroung--root);

  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-600: #2c2c2c;

  --color-backroung--border: #1e1e1e;
  --color-backroung--card: #191919;
  --color-backroung--root: #141414;

  --color-primary-100: #fcf3e1;
  --color-primary-200: #fceccd;
  --color-primary-300: #fae1af;
  --color-primary-400: #fbd997;
  --color-primary-500: #ffd37c;
  --color-primary-600: #f9c762;
  --color-primary-700: #fbc14d;
  --color-primary-800: #fab833;
  --color-primary-900: #f6ad1b;

  --color-rating-red: #ef4444;
  --color-rating-red--alpha: rgba(239, 68, 68, 0.3);
  --color-rating-amber: #fbbf24;
  --color-rating-amber--alpha: rgba(251, 190, 36, 0.3);
  --color-rating-green: #4ade80;
  --color-rating-green--alpha: rgba(74, 222, 128, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Libre Franklin", sans-serif;

  background-color: var(--color-background);
  color: white;

  line-height: 1;
  font-weight: 400;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 1.2rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-600);
  border-radius: 10px;
  cursor: pointer;
}

.page-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 12.8rem 3.2rem 0 3.2rem;
}

.btn {
  border: none;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.6rem;
}

.btn-error {
  background-color: #890b35;
  color: white;
}

.btn {
  border: none;
  background-image: linear-gradient(to right, #ea580c, #f59e0b);
  color: white;
  border-radius: 100px;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
}

.btn:hover {
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 20px 0px;
}

.horizontal-list--container {
  display: flex;
  gap: 2.4rem;
  padding: 2.4rem 0 1.2rem 0;
  scroll-behavior: smooth;
  overflow-x: scroll;
  list-style: none;
  overflow-y: hidden;
}

.btn-view:link,
.btn-view:visited {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  width: fit-content;
  cursor: pointer;
  font-size: 1.4rem;
  background-color: transparent;
  color: white;
  border: 1px solid #f97316;
  border-radius: 8px;
  display: flex;
  text-decoration: none;
}

.btn-view:hover,
.btn-view:active {
  color: white;
  background-color: #f97316;
}

.btn-department {
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  font-size: 1.6rem;
  background-color: transparent;
  color: white;
  border: 1px solid #f97316;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.btn-department:hover,
.selected {
  color: white;
  background-color: #f97316;
}

.flex--wrap-container {
  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;
  margin-bottom: 3.2rem;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-header--right {
  display: flex;
  gap: 2.4rem;
}

/*****************/
/* TABS */
/*****************/
.tabs {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.tabs button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.7rem;
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
}

.tab-active {
  color: #f97316 !important;
}

.tab-selector {
  height: 1.5px;
  background-color: #f97316;
  border-radius: 8px;
}

.gradient-overlay {
  top: 0;
  right: auto;
  left: 0;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.8),
    black
  );
}

.homepage-title {
  font-size: 2.8rem;
  font-weight: 500;
}

.section-link:link,
.section-link:visited {
  font-size: 2.8rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.section-link:hover,
.section-link:active {
  color: var(--color-primary-900);
}
