.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  margin-top: 2.4rem;
  justify-content: center;
}

.item__container {
  display: flex;
  background-color: var(--color-background--card);
  box-shadow: var(--card--box-shadow);
  cursor: pointer;

  overflow: hidden;

  &:hover {
    box-shadow: var(--hover-border);
  }
}

.item__container--top {
  width: 100%;
  height: 100%;
  flex-direction: column;
  border-radius: 10px;
}

.item__container--regular {
  border-radius: 7px;
  padding: 1.2rem;
  gap: 2.4rem;
}

.image--top {
  width: 100%;
  height: 70%;
  object-fit: cover;
  margin-bottom: 2.4rem;
}

.image--regular {
  width: 6rem;
  object-fit: cover;
  border-radius: 5px;
}

.item__container__text--top {
  display: flex;
  flex-direction: column;
  padding-left: 2.4rem;
}

.item__container__text--regular {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 0.4rem;
}

.title--top {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.title--regular {
  font-size: 1.8rem;
  font-weight: 600;
}

.date--top {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: var(--color-gray-300);
}

.date--regular {
  font-size: 1.4rem;
  color: var(--color-gray-300);
}

.container__right {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
