.container {
  width: 40rem;
  border-radius: 10px;
  overflow: hidden;
}

.backdrop {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}
