.tabs {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
  /* justify-content: center; */
  margin-bottom: 1.6rem;
}

.tab {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
}

.tab:hover,
.active {
  color: var(--color-primary-900) !important;
}

.selector {
  height: 1.5px;
  background-color: var(--color-primary-900);
  border-radius: 8px;
}
